<section id="testimonials" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Testimonials</h2>
                <h3 class="section-subheading text-muted">See what others are saying about Tacoma Software.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="TestimonialCarousel" class="carousel slide" data-interval="100000" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#TestimonialCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#TestimonialCarousel" data-slide-to="1"></li>
                        <li data-target="#TestimonialCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-lg-3 text-center">
                                    <h3>Gay De Hart</h3>
                                    <h4>Senior Vice President Mingle Analytics</h4>
                                </div>
                                <div class="col-lg-6">
                                    <p class="text-muted text-left">
                                        I had the distinct pleasure of working with Floyd when I was product owner in a very young company with a new development
                                        team.
                                        <br>
                                        <br>Floyd is always thoughtful in his communications, and brings his insights and experience
                                        from other applications development he has done to solve similar problems. He works
                                        extremely well with the team. He approaches problems by thoroughly gathering requirements
                                        to understand the user perspective before beginning coding.
                                        <br>
                                        <br>As a new product owner and non-technical person, I always counted on Floyd to set
                                        realistic expectations about what could and could not be accomplished in an iteration
                                        and to be system focused—looking for the long-term solution rather than quick fix.
                                        <br>
                                        <br>He is a great mentor to other developers, helping them grow both personally and professionally.
                                        <br>
                                        <br>Floyd is a skilled communicator, and generally thoughtful individual and I would
                                        welcome the opportunity to work with him again.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-lg-3 text-center">
                                    <h3>Scott Richardson</h3>
                                    <h4>President/CEO</h4>
                                    <h4>Longwood Software</h4>
                                </div>
                                <div class="col-lg-6">
                                    <p class="text-muted text-left">
                                        We were introduced to Floyd by one of our vendor-partners, who said “You’re really going to enjoy having him on your team
                                        — he’s good at both software engineering and communication.”
                                        <br>
                                        <br> He was right.
                                        <br>
                                        <br> We asked Floyd to take over development responsibilities for one of our key products.
                                        He quickly came up to speed and starting adding value. Most important: he earned
                                        our trust in short order.
                                        <br>
                                        <br> Floyd has enhanced our product in core functions and at the edge, but always with
                                        a thoughtful approach and solid process. He also has worked on other products for
                                        us, filling a number of gaps and contributing to others’ projects.
                                        <br>
                                        <br> Floyd is easy to work with – he is excellent at thinking-through requirements, handling
                                        shifting priorities, and setting expectations.
                                        <br>
                                        <br> We recommend him highly.
                                        <br>
                                        <br> Scott Richardson
                                        <br> President/CEO
                                        <br> Longwood Software
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a class="carousel-control left" href="#TestimonialCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="carousel-control right" href="#TestimonialCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

