<section id="testimonials" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Testimonials</h2>
                <h3 class="section-subheading text-muted">See what others are saying about Tacoma Software.</h3>
            </div>
        </div>
        <div class="row">
             <div class="col-lg-3">
                <h3>Gay De Hart</h3>
                <h4>Senior Vice President Mingle Analytics</h4>
            </div>
            <div class="col-lg-6">
            <p class="text-muted">
                I had the distinct pleasure of working with Floyd when I was product owner in a very young company with a new development team. 
                <br>Floyd is always thoughtful in his communications, and brings his insights and experience from other applications development he has done to solve similar problems. He works extremely well with the team. He approaches problems by thoroughly gathering requirements to understand the user perspective before beginning coding. 
                <br>As a new product owner and non-technical person, I always counted on Floyd to set realistic expectations about what could and could not be accomplished in an iteration and to be system focused—looking for the long-term solution rather than quick fix. 
                <br>He is a great mentor to other developers, helping them grow both personally and professionally. 
                <br>Floyd is a skilled communicator, and generally thoughtful individual and I would welcome the opportunity to work with him again.
            </p>
            </div>
        </div>
    </div>
</section>